.news {
  background: rgba($off-white, 0.95);
  color: $dark-grey;
  margin: $s-size;
  padding: $s-size;
  border-radius: 0.3rem;
}

.ui-datalist-content {
  background: none;
  border: none;
}